.a1 {
    font-size: 18px;
    font-weight: 600;
}

.b2 {
    font-size: 14px;
    font-weight: 400;
}

.c3 {
    font-size: 40px;
}

.d4 {
    font-size: 14px;
    font-weight: 400;
}

.e5 {
    font-size: 14px;
    font-weight: 400;
}